/* This is a comment */
/* Style Sheet for Jaberwocky Tutorial */

/* Body */
body {
  background-color: whitesmoke;
  background-image: url("jabber2.gif");
  background-position: center right;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Headers */

h1 {
  color: maroon;
  font-size: 20pt;
  padding: 10px 10px 10px 10px; 
  background-color: white;
  border-style: groove double;
  border-color: blue;
  border-width: 10px;
  text-align: center;
  margin-right: 500;
  background-image: url("backtile.gif");
}
h2 {
  color: rosybrown;
  font-size: 13pt;
}

/* HR (Hard Rule = line) */
hr {
  color: navy;
  height: 10px;
}

/* Paragraphs */
p {
  font-size: 12pt;
  margin-left: 15px;
}
p.verse {
  color: maroon;
  margin-left: 60px;
}
p.comment {
  color: slategray;
  margin-left: 40px;
}

/* Divs */
div.reference {
  color: gainsboro;
  margin-left: 40px;
}

/* Links */
a:link {
  color: green;
}
a:visited {
  color: purple;
}
a:hover {
  color: black;
}
a:active {
  color: blue;
}

/* Navigation */

#navigation ul {
    margin: 0; 
    padding: 0;
    list-style-type: none;
}

#navigation li {
    display: inline; 
}

/* Classes used by all html elements */

/* Ids */
